:root {
	--white: #ffff;
	--true-black: #000;
	--black: #181818;
	--black-gray-dark: #212121;
	--gray-dark: #3d3d3d;
	--gray-light: #a3a3a3;
	--logo-color-dark: #ac0f25;
	--red-main: #f00000;
	--red-dark: #cc0000;
	--gray-variant: #aaaaaa;
	--gray-dark-transparent: #a3a3a351;
	--gray-light: #e5e5e5;

	/*
	--font-color-main
	--font-color-dark
	--font-color-light
	--link-color-static
	--link-color-highlight
	--font-color-header

	 */
}

* {
	padding: 0;
	margin: 0;
	/* global font family */
}

html {
	display: flex;
	padding: 2px;
	place-content: center;
	place-items: center;
	background-color: var(--true-black);
}
body {
	display: flex;
	flex-direction: row;
	background-image: linear-gradient(
		90deg,
		rgba(172, 15, 37, 1) 0%,
		rgba(0, 0, 0, 1) 50%,
		rgba(172, 15, 37, 1) 100%
	);

	height: 100%;
	width: 100%;
	place-content: center;
	place-items: center;
	margin-top: 5px;
}

ul,
li {
	list-style: none;
}

li {
	transform: scale(1.3);
}

a {
	text-decoration: none;
}

/*
.containers
.buttons
 */

i {
	color: var(--logo-color-dark);
}

hr {
	border-color: var(--logo-color-dark);
}

.main-menu-container {
	display: flex;
	flex-direction: column;
	place-content: felx-start;
	place-items: center;
	gap: 25px;
	width: 6.8%;
	height: 100vh;
	background-color: var(--true-black);
	bottom: 0;
	left: 0;
}

.menu-toggler-container {
	width: 65%;
	text-align: center;
	margin-bottom: -50px;
	margin-top: 20px;
}
#menu-toggler {
	font-size: 40px;
	line-height: 1.2;
}

.main-menu-container .main-menu-list-wrapper {
	display: flex;
	flex-direction: column;
	place-content: felx-start;
	place-items: center;
	height: fit-content;
	width: 99%;
	gap: 40px;
	margin-top: 80px;
}

.main-menu-container .main-menu-list-wrapper li {
	display: flex;
	flex-direction: column;
	place-content: center;
	text-align: center;
	width: 65%;
	height: 10%;
	text-align: cetner;
	line-height: 2;
}

.main-menu-container hr {
	width: 95%;
	border: 2px ridge var(--logo-color-dark);
}

.main-menu-container li i {
	font-size: large;
}

.main-menu-container a {
	color: var(--logo-color-dark);
	font-weight: 700;
	font-size: x-small;
}
.main-menu-container a:hover {
	transform: scale(1.1);
}

.main-body-container {
	display: flex;
	flex-direction: column;
	width: 93.4%;
	height: 100vh;
	background-color: var(--gray-dark-transparent);
	place-self: center;
}

.header-bar-container {
	display: flex;
	flex-direction: column;
	place-items: center;
	justify-content: space-between;
	width: 100%;
	height: 20%;
	background-color: var(--true-black);
	top: 0;
	padding-top: 5px;
}
.header-bar-container i {
	color: var(--logo-color-dark);
	height: 100%;
	font-size: 2em;
	place-content: center;
	text-align: center;
}

.logo-search-user-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40%;
	margin-top: 10px;
	align-items: center;
	justify-content: space-between;
}

.logo-search-user-container .logo-continaer {
	width: 8%;
	height: 100%;
	box-shadow: -2px 2px 8px 2px var(--logo-color-dark);
	border-radius: 30px;
}

.logo-continaer img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 20;
}

.search-bar-container {
	display: flex;
	width: auto;
	position: relative;
	height: 80%;
	place-items: center;
}

.search-bar-container i {
	position: absolute;
	z-index: 1;
	left: 90%;
	font-size: 1.2em;
}

input {
	background-color: var(--ture-black);
	color: var(--logo-color-dark);
	padding: 14px;
	border-radius: 10px;
	width: 60vw;
	box-shadow: 1px 1px 5px 1px var(--logo-color-dark);
	border: 2px ridge var(--red-main);
}

.mic-sign-in-handler {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.mic-sign-in-handler {
	display: flex;
	flex-direction: row;
	place-content: center;
	width: 15%;
	justify-content: space-around;
	margin-right: 100px;
}

.sign-in-container {
	display: flex;
	place-content: center;
	place-items: center;
	position: relative;
	width: 40%;
}

.sign-in-container .fa-user {
	position: absolute;
	font-size: 1rem;
	z-index: 1;
	height: fit-content;
	color: var(--true-black);
	left: 6%;
}
#sign-button-like {
	display: flex;
	width: 100%;
	height: 50%;
	background-color: var(--black);
	background-color: var(--logo-color-dark);
	border-radius: 8px;
	padding: 2px;
	place-content: center;
	align-items: center;
	color: var(--true-black);
	box-shadow: -1px 1px 8px 2px var(--gray-variant);
}

#sign-button-like:hover {
	transform: scale(1.1);
}

.link-bar-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 30%;
	background-color: var(--gray-dark);
}

.sliding-menu-container {
	display: block;
	flex-direction: column;
	width: 15%;
	height: 100vh;
	position: absolute;
	background-color: var(--true-black);
	bottom: 0;
	z-index: 3;
}
.linkbar-video-container {
	display: flex;
	flex-direction: column;
	width: 95%;
	height: 100%;
}
