:root {
	--white: #ffff;
	--true-black: #000;
	--black: #181818;
	--black-gray-dark: #212121;
	--gray-dark: #3d3d3d;
	--gray-light: #a3a3a3;
	--logo-color-dark: #ac0f25;
	--red-main: #f00000;
	--red-dark: #cc0000;
	--gray-variant: #aaaaaa;
	--gray-dark-transparent: #a3a3a351;
	--gray-light: #e5e5e5;

	/*
	--font-color-main
	--font-color-dark
	--font-color-light
	--link-color-static
	--link-color-highlight
	--font-color-header

	 */
}

* {
	padding: 0;
	margin: 0;
	/* global font family */
}

html {
	display: flex;
	padding: 2px;
	place-content: center;
	place-items: center;
	background-color: var(--true-black);
}
body {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(
		90deg,
		rgba(172, 15, 37, 1) 0%,
		rgba(0, 0, 0, 1) 50%,
		rgba(172, 15, 37, 1) 100%
	);

	height: 100%;
	width: 100%;
	place-content: center;
	place-items: center;
	margin-top: 5px;
}

ul,
li {
	list-style: none;
}

li {
	transform: scale(1.3);
}

a {
	text-decoration: none;
}

/*
.containers
.buttons
 */

i {
	color: red;
	font-size: 48px;
}

.main-body-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background-color: var(--gray-dark-transparent);
	place-self: center;
}

.header-bar-container {
	display: flex;
	flex-direction: column;
	place-items: center;
	justify-content: space-between;
	width: 100%;
	height: 20%;
	background-color: var(--true-black);
	position: fixed;
	top: 0;
}

.logo-search-user-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40%;
	margin-top: 10px;
	align-items: center;
	justify-content: space-between;
}

.link-bar-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 30%;
	background-color: var(--gray-dark);
}

.menutoggler-logo-handler,
.mic-sign-in-handler {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.header-bar-container i {
	color: var(--logo-color-dark);
	height: 100%;
	font-size: 2em;
	place-content: center;
	text-align: center;
}

.header-bar-container .menutoggler-logo-handler {
	width: 15%;
}

.menutoggler-logo-handler .menu-toggler-container,
.menutoggler-logo-handler .logo-continaer {
	width: 50%;
}

.menu-toggler-container {
	text-align: center;
}

.logo-continaer {
	height: 100%;
	width: 50%;
}

.logo-continaer img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.search-bar-container {
	display: flex;
	width: auto;
	position: relative;
	height: 80%;
	place-items: center;
	margin-left: -20px;
}

input {
	background-color: var(--ture-black);
	color: var(--logo-color-dark);
	padding: 14px;
	border-radius: 10px;
	width: 60vw;
	box-shadow: 1px 1px 5px 1px var(--logo-color-dark);
	border: 2px ridge var(--red-main);
}

.search-bar-container i {
	position: absolute;
	z-index: 1;
	left: 90%;
	font-size: 1.2em;
}

.menutoggler-logo-handler {
	display: flex;
	flex-direction: row;
	width: 40%;
	height: 100%;
	gap: 20px;
}

.logo-continaer {
	width: 10%;
	border-radius: 50%;
}

.mic-sign-in-handler {
	display: flex;
	flex-direction: row;
	place-content: center;
	width: 15%;
	justify-content: space-between;
}

.sign-in-container {
	display: flex;
	place-content: center;
	place-items: center;
	position: relative;
	width: 40%;
	margin-right: 50px;
}

.sign-in-container .fa-user {
	position: absolute;
	font-size: 1rem;
	z-index: 1;
	height: fit-content;
	color: var(--true-black);
	left: 6%;
}
#sign-button-like {
	display: flex;
	width: 100%;
	height: 50%;
	background-color: var(--black);
	background-color: var(--logo-color-dark);
	border-radius: 8px;
	padding: 2px;
	place-content: center;
	align-items: center;
	color: var(--true-black);
	box-shadow: -1px 1px 8px 2px var(--gray-variant);
}

.main-menu-container {
	display: flex;
	flex-direction: column;
	width: 6.8%;
	height: 90vh;
	background-color: var(--true-black);
	z-index: 2;
	position: fixed;
	bottom: 0;
}

.sliding-menu-container {
	display: none;
	flex-direction: column;
	width: 15%;
	height: 85vh;
	position: absolute;
	background-color: var(--true-black);
	bottom: 0;
	z-index: 2;
}
.linkbar-video-container {
	display: flex;
	flex-direction: column;
	width: 95%;
	height: 100%;
}
