@media (max-width: 1366px) {
	.video-container {
		width: 250px;
	}
}

@media (max-width: 768px) {
	.main-page-enter-exit-container a {
		height: 15%;
		font-size: 1em;
	}

	.reference-container a {
		height: 30%;
		width: 70%;
		font-size: 100%;
	}

	.menu-toggler-mr {
		display: block;
		position: absolute;
		font-size: 35px;
		z-index: 20;
		top: 3%;
		left: 90%;
	}

	.main-menu-container {
		display: none;
	}

	.logo-search-user-container {
		height: 50%;
		width: 100%;
		justify-content: space-evenly;
		gap: 20px;
	}

	.logo-search-user-container .logo-continaer {
		width: 20%;
		border-radius: 0;
	}

	.search-bar-container {
		width: 50%;
	}

	.search-bar-container i {
		left: 90%;
	}

	input {
		padding: 8px;
		width: 40vw;
	}

	.mic-sign-in-handler {
		width: 20%;
		justify-content: center;
		gap: 10px;
	}

	.mic-sign-in-handler .mic-container {
		display: none;
	}

	.sign-in-container {
		width: 100%;
	}

	#sign-button-like {
		width: 80%;
	}

	.artist-page-containers {
		flex-direction: column;
		place-content: center;
	}

	.full-site-modal .main-menu-container {
		display: block;
		width: 50%;
		position: absolute;
		left: 40%;
	}

	.artist-page-top-container {
		flex-direction: row;
		height: auto;
		gap: 15px;
		margin-bottom: 60px;
	}
	.artist-page-bottom-container {
		flex-direction: row;
		height: auto;
		gap: 50px;
	}

	.artist-page-video-container {
		width: 100%;
		height: fit-content;
	}
	.artist-page-video-container iframe {
		width: 95%;
		height: 500px;
	}

	.sub-video-container {
		width: 100%;
		justify-content: cener;
		height: fit-content;
	}

	.artist-page-video-description-container,
	.comments-container {
		width: 100%;
		height: fit-content;
	}

	.artist-page-artist-name {
		padding-left: 8px;
	}

	.comments-container {
		gap: 20px;
		align-items: center;
		padding: 10px 0;
	}

	.comments-container > div {
		width: 70%;
	}

	.modal .menu-toggler-container {
		height: fit-content;
		position: relative;
		margin-top: 0;
	}

	.modal #menu-toggler {
		position: absolute;
		font-size: 35px;
		right: 0;
		top: 25px;
	}

	.modal .menu-toggler-container .logo-continaer {
		display: none;
		outline: 1px solid white;
	}

	.modal .main-menu-list-wrapper {
		justify-content: center;
		width: 80%;
		margin-left: 4px;
	}
}
