/* Maint Page Styles */
.main-page {
	padding: 0 2px;
}

.main-page a i {
	cursor: auto;
	color: var(--true-black);
}

.main-page .main-body-container {
	flex-direction: column;
	width: 100%;
	row-gap: 20px;
}

.main-page-header-container {
	display: flex;
	width: 100%;
	height: 30%;
}

.main-page-image-container {
	height: 100%;
	width: 30%;
	background-color: var(--true-black);
}

#main-logo-img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.main-page-enter-exit-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--black-gray-darker);
	height: 100%;
	gap: 25px;
	width: 70%;
}

.main-page-enter-exit-container a {
	display: flex;
	width: 15%;
	height: 20%;
	border: 5px solid var(--true-black);
	border-radius: 12px;
	background-color: var(--logo-color-dark);
	color: var(--true-black);
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-size: 1.5em;
	font-weight: 400;
}

.main-page-enter-exit-container a:hover {
	transform: scale(1.1);
}

.main-page-banner {
	margin: 20px auto;
}

.main-page-banner h1 {
	color: var(--gray-variant);
	text-align: center;
	text-shadow: -2px 2px 8px var(--black-gray-darker);
	font-size: 2.5em;
}

.main-page-card-contianer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 80%;
	gap: 10px;
}

.collection-card {
	display: flex;
	flex-direction: column;
	place-content: center;
	width: 200px;
	height: 300px;
	border: 5px ridge var(--true-black);
	box-shadow: 0px 2px 20px 1px var(--black-gray-darker);
	padding: 8px;
	color: var(--gray-variant);
	background-color: var(--black-gray-darker);
}

.collection-card div {
	width: 100%;
}

.collection-card-image-container {
	height: 40%;
	text-align: center;
	place-content: center;
}

.collection-card-image-container i {
	font-size: 4em;
}

.collection-card-label-container {
	text-align: center;
	place-content: center;
	font-size: 2em;
	height: 30%;
}

.collection-card-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
}

.collection-card-btn-container a {
	display: flex;
	width: 50%;
	height: 50%;
	background-color: var(--logo-color-dark);
	border-radius: 10px;
	padding: 3px;
	place-content: center;
	align-items: center;
	color: var(--true-black);
	border: 5px groove var(--true-black);
	box-shadow: -1px 1px 8px 1px var(--logo-color-dark);
	gap: 2.5px;
}

.collection-card:hover {
	transform: scale(1.1);
	border: 5px ridge var(--red-main);
	border-radius: 10px;
	color: var(--logo-color-dark);
	background-color: var(--true-black);
	box-shadow: -1px 1px 10px 7px var(--true-black);
}

.main-page-footer-container {
	width: 100%;
	height: 30%;
	background-color: var(--black-gray-darker);
}

/*~~ Artist Page Styles */
.artist-page-containers {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	flex-wrap: wrap;
}

.artist-page-top-container {
	height: 70vh;
}
.artist-page-bottom-container {
	height: auto;
	margin-bottom: 80px;
	padding: 20px 0;
}

.artist-page-video-container,
.sub-video-container {
	display: flex;
	width: 60%;
	height: 100%;
	flex-wrap: wrap;
}

.artist-page-video-description-container,
.comments-container {
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 100%;
	color: var(--gray-variant);
	line-height: 2;
}

.artist-page-video-container iframe {
	border: 1px groove var(--logo-color-dark);
	height: 98%;
	width: 100%;
	margin-top: 0;
}

.artist-page-video-description-container div {
	width: 100%;
	height: 50%;
}

.artist-page-video-description-container .artist-banner img {
	height: 100%;
	width: 100%;
	object-fit: fill;
}

.sub-video-container {
	justify-content: space-evenly;
	height: 100%;
	gap: 15px;
}

.sub-video-container .video-container {
	width: 40%;
}

.sub-video-container .video-container h4 {
	color: var(--gray-variant);
	font-size: large;
	text-align: center;
}

.sub-video-container iframe {
	border: none;
	width: 100%;
	height: 100%;
}

.comments-container div {
	width: 100%;
	height: 25%;
	border: 2px solid var(--gray-variant);
	align-content: center;
	background: rgba(0, 0, 0, 0.313);
	font-size: large;
	text-align: center;
}

.comments-container div:hover {
	border-color: var(--logo-color-dark);
	color: var(--log-dark);
	background-color: var(--true-black);
}

/*Modal Styles*/
.full-site-modal.page-block {
	display: flex;
	background: rgba(0, 0, 0, 0.698);
	width: 100%;
	height: 100vh;
	position: relative;
	overflow-y: scroll;
	scroll-behavior: auto;
	place-self: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 0.2s ease-in;
	visibility: hidden;
	opacity: 0;
	z-index: 99;
	padding: 2rem;
}

.modal .main-menu-container {
	width: 15%;
}

.modal .menu-toggler-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-end;
	height: 11%;
	align-items: center;
	gap: 46px;
	margin-bottom: -80px;
}
.modal #menu-toggler {
	font-size: 30px;
	margin-top: -26px;
	line-height: 1.2;
}

.modal .main-menu-container .logo-continaer {
	width: 50%;
	height: 80%;
	box-shadow: -2px 2px 8px 2px var(--logo-color-dark);
	border-radius: 30px;
	margin-top: -18px;
}

.modal .main-menu-list-wrapper {
	display: felx;
	flex-direction: column;
	align-items: baseline;
	row-gap: 30px;
}

.modal .main-menu-container .main-menu-list-wrapper i {
	font-size: 1.2em;
	margin-left: 12px;
}

.modal .main-menu-list-wrapper a {
	text-align: justify;
	flex-direction: row;
	font-size: 0.8em;
}

.modal .main-menu-list-wrapper a .fa-user-group {
	font-size: 1em;
}

.modal .sorce-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
	gap: 20px;
}

.modal .sorce-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: fit-content;
	color: var(--logo-color-dark);
}

.modal .sorce-container .img-handler {
	height: 100%;
	width: 10%;
	align-content: center;
	justify-items: space-evenly;
	border-radius: 8px;
}

.modal .sorce-container .img-handler img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.modal .full-site-modal.is-visible,
.modal.is-visible {
	visibility: visible;
	opacity: 1;
}

[data-anamation='zoomInOUt'].full-site-modal {
	transform: scale(5);
}
